<!DOCTYPE html>
<div>
    <div id="HumidadeSensor">
        <div>
            Valor Da Humidade Atual
        </div>
        <div>
            50%
        </div>
    </div>
    <div id="Temperatura">
        <div>
            Temperatura Atual
        </div>
        <div>
            20Cº
        </div>

        <div>
            Local do Sistema:
        </div>
        <div>
            Oliveira Do Hospital
        </div>
    </div>

    <div id="PrevisaoRega">
        <div>
            Previsão Proxima Rega:
        </div>
        <div>
            (22:00 25/11/2023)
        </div>
    </div>

    <div id="Condicoes">
        <div>
            Condições de atuação
        </div>
        <div>
            Valor Ideal: 30%
        </div>
        <div>
            Intervalo de variacao: [15-40]%
        </div>
    </div>

    <div id="Opcoes">
        <div>
            Opções do Sistema
        </div>
        <button>Settings</button>

    </div>



</div>