{% extends 'base.html' %}

{% block main_content %}
<div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">System Info</h1>
</div>
<div class="row">
    <div class="col-6">
        <dl class="row mt-4">
            <dt class="col-6">Cidade Selecionada</dt>
            <dd class="col-6" id="cityname"></dd>

            <dt class="col-6">Estado de Rega</dt>
            <dd class="col-6" id="estadorega"></dd>

            <dt class="col-6">Probabilidade de precipitacao</dt>
            <dd class="col-6" id="raininfo"></dd>

            <dt class="col-6">Valor de precipitacao máximo para perimitir rega (no valor idea)</dt>
            <dd class="col-6" id="precipicatacaoinfo"></dd>

            <dt class="col-6">Humidade</dt>
            <dd class="col-6" id="humidity"></dd>

            <dt class="col-6">Humidade Min</dt>
            <dd class="col-6" id="ruleMin"></dd>
            
            <dt class="col-6">Humidade Max</dt>
            <dd class="col-6" id="ruleMax"></dd>

            <dt class="col-6">Predicao Atual</dt>
            <dd class="col-6" id="predictioninfo"></dd>
            
        </dl>
    </div>
    <div class="col-6">
        <canvas id="HistoryChart"></canvas>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Definicoes Sistema</h1>
</div>
<div class="row">
    <div class="col-6">
        <dl class="row mt-4">
            <dt class="col-6">
                Mudar Cidade
            </dt>
            <dd>
                <input type="text" id="NomeCidade" placeholder="Oliveira Do Hospital">
                <button id="CidadeSettings">Mudar Cidade</button>
            </dd>
            

            <dt class="col-6">
                Limites Humidade
            </dt>
            <dd>
                <div>Minimo</div>
                <input type="text" id="MinimoHumidadeInput" placeholder="40">
                <div>Máximo</div>
                <input type="text" id="MaximoHumidadeInput" placeholder="60">
                <button id="HumidadeSettings">Mudar Limites Humidade</button>
            </dd>
            <dt class="col-6">
                Precipitacao
            </dt>
            <dd>
                <div>Chance de precipitacao máxima para permitir rega</div>
                <input type="text" id="PrecipitacaoVal" placeholder="50">
                <button id="PrecipitSettings">Mudar Condicoes</button>
            </dd>



        </dl>
    </div>
</div>




<div class="row">
    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Check History</h1>
    </div>
    <div class="col-6">
        <canvas id="DayHistoryChart"></canvas>
    </div>
    <div class="col-4">
        <dl class="row mt-4">
            <dt class="col-6">Selecionar Data</dt>
            <dd class="col-6" id="rainin"></dd>

            <input type="date" id="DataHistoricoVal">
            <button id="HistoricoSettings">Mudar Dia</button>
        </dl>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <script>
        var socket = io('http://' + document.domain + ':' + location.port);
        
        document.getElementById("CidadeSettings").addEventListener("click", function(){
            socket.emit("ChangeCidade",document.getElementById("NomeCidade").value);
            document.getElementById("NomeCidade").value = "";
        });
        document.getElementById("HumidadeSettings").addEventListener("click",function(){
            socket.emit("ChangeHumidade",{"Min": document.getElementById("MinimoHumidadeInput").value,"Max":document.getElementById("MaximoHumidadeInput").value})
            document.getElementById("MinimoHumidadeInput").value = "";
            document.getElementById("MaximoHumidadeInput").value = "";
        });

        document.getElementById("PrecipitSettings").addEventListener("click",function(){
            socket.emit("ChangePrecipitacao",document.getElementById("PrecipitacaoVal").value)
            document.getElementById("PrecipitacaoVal").value = "";
        });

        document.getElementById("HistoricoSettings").addEventListener("click",function(){
            socket.emit("ChangeHistorico",{"value" : document.getElementById("DataHistoricoVal").value, "clientID": socket.id});
        })
        let labels = [];

        let itemData = [];
        const data_chart = {
            labels: labels,
            datasets: [{
                data:itemData
            }]
        };
        const config = {
            type: 'line',
            data: data_chart,
            options: {
                plugins:{
                    legend:{
                        display: false
                    },
                    title:{
                        display: true,
                        text: 'Histórico da sessão'
                    }
                }
            }
        }
        let labels_h = [];

        let itemData_h = [];
        const data_chart_h = {
            labels: labels_h,
            datasets: [{
                data:itemData_h
            }]
        };
        const config_h = {
            type: 'line',
            data: data_chart_h,
            options: {
                plugins:{
                    legend:{
                        display: false
                    },
                    title:{
                        display: true,
                        text: 'Histórico do dia'
                    }
                }
            }
        }
        var chart = new Chart(document.getElementById('HistoryChart'),config);
        var historychart = new Chart(document.getElementById('DayHistoryChart'),config_h)

        i = 0;
        n = 0;

        socket.on('historico_update',function(data){
            let maxregists = 100
            labels_h.length = 0;
            itemData_h.length = 0;
            data = JSON.parse(data);
            console.log((parseInt((data.length/maxregists))-1))
            for (let x = 0; x < data.length; x++) {
                if(x % (parseInt((data.length/maxregists))-1) == 0){
                console.log("Putting values in")
                labels_h.push(data[x][2]);
                itemData_h.push(data[x][1]);
                }
            }
            historychart.update();

        });

        socket.on('data_update', function (data) {
            data = JSON.parse(data);

            $('#cityname').html(data.CityName);

            $('#estadorega').html(data.EstadoRega.toString());

            $('#raininfo').html(data.raininfo + '%');

            $('#humidity').html(data.moisture.toFixed(2) + '%RH');

            $('#ruleMin').html(data.Rules.Min + '% Min');

            $('#ruleMax').html(data.Rules.Max + '% Max');

            $('#precipicatacaoinfo').html(data.PrecMax + "%");

            if(data.Predicion != undefined){
            $('#predictioninfo').html(data.Predicion);
            }
            else{
                $('#predictioninfo').html("Por agora não há previsão nenhuma");
            }
            if(i % 5 == 0){
            labels.push(n); // Add timestamps if needed
            itemData.push(data.moisture.toFixed(2)); 
            if (labels.length > 200) {
                labels.shift();
                itemData.shift();
            }
            chart.update();
            n++;
            }
            i++;





        });

    </script>
{% endblock %}