{% extends 'base.html' %}

{% block main_content %}
<div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">System Info</h1>
</div>
<div class="row">
    <div class="col-6">
        <dl class="row mt-4">
            <dt class="col-6">Cidade Selecionada</dt>
            <dd class="col-6" id="cityname"></dd>

            <dt class="col-6">Estado de Rega</dt>
            <dd class="col-6" id="estadorega"></dd>

            <dt class="col-6">Probabilidade de precipitacao</dt>
            <dd class="col-6" id="raininfo"></dd>

            <dt class="col-6">Valor de precipitacao máximo para perimitir rega (no valor idea)</dt>
            <dd class="col-6" id="precipicatacaoinfo"></dd>

            <dt class="col-6">Humidade</dt>
            <dd class="col-6" id="humidity"></dd>

            <dt class="col-6">Humidade Min</dt>
            <dd class="col-6" id="ruleMin"></dd>
            
            <dt class="col-6">Humidade Max</dt>
            <dd class="col-6" id="ruleMax"></dd>

            <dt class="col-6">Predicao Atual</dt>
            <dd class="col-6" id="predictioninfo"></dd>
            
        </dl>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Definicoes Sistema</h1>
</div>
<div class="row">
    <div class="col-6">
        <dl class="row mt-4">
            <dt class="col-6">
                Mudar Cidade
            </dt>
            <dd class="col-6">
                <input type="text" id="NomeCidade" placeholder="Oliveira Do Hospital">
                <button id="CidadeSettings">Mudar Cidade</button>
            </dd>
            

            <dt class="col-6">
                Limites Humidade
            </dt>
            <dd class="col-6">
                <div>Minimo</div>
                <input type="text" id="MinimoHumidadeInput" placeholder="40">
                <div>Máximo</div>
                <input type="text" id="MaximoHumidadeInput" placeholder="60">
                <button id="HumidadeSettings">Mudar Limites Humidade</button>
            </dd>
            <dt class="col-6">
                Precipitacao
            </dt>
            <dd class="col-6">
                <div>Chance de precipitacao máxima para permitir rega</div>
                <input type="text" id="PrecipitacaoVal" placeholder="50">
                <button id="PrecipitSettings">Mudar Condicoes</button>
            </dd>



        </dl>
    </div>
</div>




<div class="row">
    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Rain</h1>
    </div>
    <div class="col">
        <canvas id="rainChart" style="width:100%;height:400px;"></canvas>
    </div>
    <div class="col-4">
        <dl class="row mt-4">
            <dt class="col-6">Last hour</dt>
            <dd class="col-6" id="rainin"></dd>

            <dt class="col-6">Last 24 hours</dt>
            <dd class="col-6" id="dailyrainin"></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <script>
        var socket = io('http://' + document.domain + ':' + location.port);
        
        document.getElementById("CidadeSettings").addEventListener("click", function(){
            socket.emit("ChangeCidade",document.getElementById("NomeCidade").value);
            document.getElementById("NomeCidade").value = "";
        });
        document.getElementById("HumidadeSettings").addEventListener("click",function(){
            socket.emit("ChangeHumidade",{"Min": document.getElementById("MinimoHumidadeInput").value,"Max":document.getElementById("MaximoHumidadeInput").value})
            document.getElementById("MinimoHumidadeInput").value = "";
            document.getElementById("MaximoHumidadeInput").value = "";
        });

        document.getElementById("PrecipitSettings").addEventListener("click",function(){
            socket.emit("ChangePrecipitacao",document.getElementById("PrecipitacaoVal").value)
            document.getElementById("PrecipitacaoVal").value = "";
        });
        

        socket.on('data_update', function (data) {
            data = JSON.parse(data);

            $('#cityname').html(data.CityName);

            $('#estadorega').html(data.EstadoRega.toString());

            $('#raininfo').html(data.raininfo + '%');

            $('#humidity').html(data.moisture + '%RH');

            $('#ruleMin').html(data.Rules.Min + '% Min');

            $('#ruleMax').html(data.Rules.Max + '% Max');

            $('#precipicatacaoinfo').html(data.PrecMax + "%");

            if(data.Predicion != undefined){
            $('#predictioninfo').html(data.Predicion);
            }
            else{
                $('#predictioninfo').html("Por agora não há previsão nenhuma");
            }




/*
            windChart.data.datasets[0].data.push(data.windspeedmph);
            windChart.data.datasets[1].data.push(data.winddir);
            windChart.data.labels.push(moment().format('hh:mm:ss'));

            atmChart.data.datasets[0].data.push(data.tempf);
            atmChart.data.datasets[1].data.push(data.humidity);
            atmChart.data.labels.push(moment().format('hh:mm:ss'));

            rainChart.data.datasets[0].data.push(data.tempf);
            rainChart.data.labels.push(moment().format('hh:mm:ss'));

            if (atmChart.data.datasets[0].data.length > 60) {
                windChart.data.datasets[0].data.shift();
                windChart.data.datasets[1].data.shift();
                windChart.data.labels.shift();

                atmChart.data.datasets[0].data.shift();
                atmChart.data.datasets[1].data.shift();
                atmChart.data.labels.shift();

                rainChart.data.datasets[0].data.shift();
                rainChart.data.labels.shift();
            }

            windChart.update();
            atmChart.update();
            rainChart.update();
            */
        });

    </script>
{% endblock %}